<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <button id="button">This is button</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <!-- static downloaded script when no internet -->
    <!-- <script src="{{ url_for('static', filename='socket_io.js')}}" type="text/javascript" charset="utf-8"></script> -->
    
    <h3 id="fps_counter">0 FPS</h3>
    <div class="images">
        <img src="{{ url_for('video_feed_1') }}">

    </div>
    <table width="100%">
        <tr>
            <td width="50%">
                <div class="telemetry">
                    <div>
                        <h4 id="current_speed">Current speed: - mm/s</h4>
                    </div>
                    <div>
                        <h4 id="current_angle">Angle: - deg</h4>
                    </div>
                </div>
                <div class="controls">
                    <div class="slidecontainer">
                        <form action="/" method ="post" enctype="multipart/form-data" id="form">
                        <input type="range" min="0" max="150" value="0" class="slider" id="speed_slider">
                        <p>Target speed: <span id="target_speed_val">0</span></p>
                        </form>
                        </div>
                    </div>
                    <div class="slidecontainer">
                        <form action="/" method ="post" enctype="multipart/form-data" id="form">
                        <input type="range" min="-60" max="60" value="0" class="slider" id="angle_slider">
                        <p>Target angle: <span id="target_angle_val">0</span></p>
                        </form>
                        </div>
                    </div>
                </div>
            </td>
            <td width="50%">
                <div class="top-view">
                    <object data="{{ url_for('static', filename='top_view_sensors.svg')}}" type="image/svg+xml"
                    id="alphasvg" width="50%" height="50%"></object>
                </div>
            </td>
        </tr>
    </table>

    <!-- <img src="{{ url_for('static', filename='rysunek.svg')}}"> -->



    
    <script src="{{ url_for('static', filename='script_io.js')}}" type="text/javascript" charset="utf-8"></script>
</body>

