<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var socket = io();
      console.log('KURWA')
      socket.on('connect', function() {
          socket.send('I\'m connected!');
      });
      const image_elem = document.getElementById("streamer-image");
      socket.on('video', (msg) => {
        console.log('hello')
        image_elem.src = msg['image_data'];
        
        
    });
  });
  </script>
  </head>
  <body>
    <h1>View from robot</h1>
    <div style="width: 70%">
      <img id="streamer-image" src="">
    </div>
    <h4>Controls</h4>
    <form method="post" action="/">
      <input type="submit" value="Take picture" name="take_picture"/>
    </form>
    <div class="slidecontainer">
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      <p>Value: <span id="demo"></span></p>
    </div>
    <script type=text/javascript src="{{ url_for('static', filename='script.js')}}"></script>
  </body>
</html>

<!-- <script>
    document.addEventListener("DOMContentLoaded", function(event) {
    const image_elem = document.getElementById("streamer-image");
    const text_elem = document.getElementById("streamer-text");
    console.log('seima')
    console.log(document.domain)
    console.log(location.port)

    var socket = io.connect('http://172.16.1.183:5000/', {
      reconnection: false
    });

    socket.on('video', (msg) => {
      image_elem.src = msg;
      console.log('hello')
    
    });
  });
</script> -->