<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
        <a class="navbar-brand" href="#">Teaching platform</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map">Map</a>
                </li>
            </ul>
        </div>
    </nav>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <!-- static downloaded script when no internet -->
    <!-- <script src="{{ url_for('static', filename='socket_io.js')}}" type="text/javascript" charset="utf-8"></script> -->

    <div class="container my-3">
        <div class="row g-2">
            {%for i in range(1,5)%}
            <div class="col-3">
                <div class=" d-flex h-100 bg-black px-0 align-items-center">
                    <img id="image{{i}}" class="img-fluid" src="{{ url_for('static', filename='unavailable.jpg')}}">
                </div>
                <!-- <img id="image{{i}}" class="img-fluid" src="{{ url_for('static', filename='test1.jpg')}}"> -->
            </div>
            {%endfor%}
            {%for i in range(1,5)%}
            <div class="col-3">
                <div class="d-flex align-items-center">
                    <div class="pe-2">
                        <label class="form-select-label" for="image{{i}}Select">Select frame</label>
                    </div>
                    <div class="pe-3">
                        <select class="form-select" label="Select frame" id=image{{i}}Select>
                            <option selected>None</option>
                        </select>
                    </div>
                    <div class="float-end">
                        <button type="button" class='captureBtn' id="image{{i}}CaptureBtn">Capture</button>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>

    </div>
    <div class="container my-3">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-6">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="followLaneSwitch">
                            <label class="form-check-label" for="followLaneSwitch">Follow lane</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="detectSignsSwitch">
                            <label class="form-check-label" for="detectSignsSwitch">Sign detector</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="respectSignsSwitch">
                            <label class="form-check-label" for="respectSignsSwitch">Respect signs</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="parkingModeSwitch">
                            <label class="form-check-label" for="parkingModeSwitch">Parking mode</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="avoidObstaclesSwitch">
                            <label class="form-check-label" for="avoidObstaclesSwitch">Obstacle avoidance</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="undistortSwitch">
                            <label class="form-check-label" for="undistortSwitch">Undistort</label>
                        </div>
                    </div>
                    <div class="col-6 d-flex ">
                        <button type="button" class='eventBtn btn-primary flex-fill w-50' id="goBtn">GO</button>
                        <button type="button" class='eventBtn btn-secondary flex-fill w-50' id="stopBtn">STOP</button> 
                    </div>
                </div>
                <div class="row bg-light">
                    <h6 style="text-align: center;color: slategrey;">INFO</h6>
                    <h4 id="fps">- FPS</h4>
                    <h4 id="current_speed">Current speed: - mm/s</h4>
                    <h4 id="current_angle">Angle: - deg</h4>
                    <h4 id="current_mode">Mode: </h4>
                    <h4 id="current_voltage">LiPo voltage: </h4>
                </div>
                <div class="row">
                    <label for="targetSpeedRange" class="form-label">Target speed: <span
                            id="targetSpeedVal">0</span></label>
                    <div class="col-10">
                        <input type="range" class="form-range" id="targetSpeedRange" min="-150" max="150" value="0">
                    </div>
                    <div class="col-2">
                        <button type="button" class="resetBtn" id=resetTargetSpeed>RESET</button>
                    </div>

                    <label for="targetTurnRange" class="form-label">Target turn: <span
                            id="targetTurnVal">0</span></label>
                    <div class="col-10">
                        <input type="range" class="form-range" id="targetTurnRange" min="-60" max="60" value="0">
                    </div>
                    <div class="col-2">
                        <button type="button" class="resetBtn" id=resetTargetTurn>RESET</button>
                    </div>
                </div>
                <div class="row">
                    <h3>Logs</h3>
                    <textarea class="consoleLog" id="consoleLogHome" rows="6"></textarea>
                </div>
            </div>
            <div class="col top-view">
                <object data="{{ url_for('static', filename='top_view_sensors.svg')}}" type="image/svg+xml"
                    id="alphasvg" width="70%"></object>
            </div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='script_io.js')}}" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>