<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>
    <h1>View from robot</h1>
    <img src="{{ url_for('video_feed_1') }}">
    <img src="{{ url_for('video_feed_2') }}">
    <h4>Controls</h4>
    <form method="post" action="/">
      <input type="submit" value="Take picture" name="take_picture"/>
    </form>
    <div class="slidecontainer">
      <form action="/" method ="post" enctype="multipart/form-data" id="form">
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      <p>Value: <span id="demo"></span></p>
      </form>
    </div>
    <script type=text/javascript src="{{ url_for('static', filename='script.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>

  <script>
    var slide = document.getElementById('myRange'),
      sliderDiv = document.getElementById("demo");
  
  slide.onchange = function() {
      sliderDiv.innerHTML = this.value;
      $.post({
              url: '/',
              data: $('form').serialize(),
              success: function(response){
                  //alert(response);
                  //alert(response.volume);             // works with jsonify()
                  //alert(JSON.parse(response).volume); // works with json.dumps()
                  console.log(response);
              },
              error: function(error){
                  alert(response);
                  console.log(error);
              }
          });
  }
  </script>
</html>