<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link href="../static/style.css" rel="stylesheet" />
</head>

<body>
    <div class="app" style="display:flex;">
        <canvas id="mapCanvas" width="500" height="500">
        </canvas>
        <div class="controls">
            <button type="button" onclick="clearPoints()">CLEAR</button>
            <div class="measurements">
                <div class="dy">Σdy: <span id="sumDy">0</span></div>
                <div class="dc">Σdc: <span id="sumDc">0</span></div>
            </div>
        </div>

    </div>

    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <script src="../static/space_map_script.js">
    </script>
</body>

</html>